.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 250px;
}
.card .card-image .card-title {
  color: green;
  font-weight: 400;
}

.cart {
  margin-top: 30px;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 45px;
}
.collection .collection-item {
  display: flex;
}
.item-desc {
  align-self: center;
}
